<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./../css/solar-index.css")
    title Solar System
  body
    main(class="main")
      section(class="actions hidden")
          button(class="actions__button")
          div(class="actions__options")

          
      canvas(class="presentation")

    script(src="./../js/three.js") 
    script(src="./../js/solar-index.js")