<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./../css/solar-index.css")
    title Solar System
  body
    main(class="main")
      section(class="actions hidden js--options--wrapper")
          button(class="actions__button js--activate--actions")
          div(class="actions__options")
            span(class="actions__options__close js--close--options")
            div(class="actions__options__wrapper")
              
              div(class="actions__options__wrapper__keyboard")
                div(class="actions__options__wrapper__keyboard__key")
                div(class="actions__options__wrapper__keyboard__key")
                div(class="actions__options__wrapper__keyboard__key")
                div(class="actions__options__wrapper__keyboard__key")
              
              div(class="actions__options__wrapper__optins")
                div(class="actions__options__wrapper__optins__toggle")
                div(class="actions__options__wrapper__optins__toggle")
                div(class="actions__options__wrapper__optins__toggle")
          
      canvas(class="js--canvas")

    script(src="./../js/three.js") 
    script(src="./../js/solar-index.js")