* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
}

ul , li {
  list-style: none;
}

button {
  border: none;
}